/* Для тестирования */
.container {
  outline: 2px solid tomato;
  /* background-color: var(--grey); */
}

.section {
  /* outline: 3px solid green; */
}

:root {
  --accent-color: #ff6c00;
  --dark-color: #303030;
  --main-color: #555555;
  --white: #ffffff;
  --grey: #9da4bd;
  --light-grey: #9da4bd;
}

/* FONTS */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open_sans/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/open_sans/opensans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open_sans/opensans-semibold-webfont.woff2") format("woff2"),
    url("../fonts/open_sans/opensans-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

/* Общее - контентные изображения */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Общее - списки*/
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* Общее - ссылки */
.link {
  text-decoration: none;
  margin: 0px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* Общее - скрыть объект */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Общее - без марджинов */
.nomargin {
  margin: 0px;
}
.flexbox {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.section {
  padding-bottom: 130px;
}
/* Общее - основной контейнер */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.topline-navigation {
  padding-top: 32px;
  padding-bottom: 32px;

  align-items: center;
  /* background-color: rgb(133, 124, 124); */
}

.title-page {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white);
}

.title-section {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
  color: var(--dark-color);

  /* margin-bottom: 44px; */
}

.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--dark-color);

  /* margin-bottom: 20px; */
}

.nav-link {
  margin-right: 40px;
  margin-left: auto;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: var(--white);
  text-decoration: none;
}

.tell-link {
  margin-left: auto;
  margin-right: 40px;
}
.logo {
  margin-right: 72px;
}

.button {
  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.header .button {
  background-color: transparent;
  color: var(--white);
}

.header-navigation {
  padding-bottom: 15px;
}
.header-nav {
  align-items: center;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.primary .container {
  background-image: url(../images/slider-3.jpg);
  background-repeat: no-repeat;
  background-position: top 0px left 115px;
}
.primary .content {
  max-width: 50%;
  padding: 272px 0px 206px 100px;
}

.primary .social-list::before,
.content .subtitle::before {
  display: inline-block;

  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--main-color);
}

.social-list::before {
  margin-right: 40px;
}

.social-item:not(:last-child) {
  margin-right: 40px;
}
.topline-slider {
  position: relative;
  padding-bottom: 40px;
  padding-right: 55px;
  padding-left: 25px;
  width: 100px;
  align-items: flex-end;
  justify-content: center;
}

.social-list {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-origin: bottom left;
  transform: rotate(-90deg) translateX(40px);
  align-items: center;
}

.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--dark-color);
  text-decoration: none;
}

.content .subtitle {
  display: inline-flex;
  align-items: center;
  color: rgba(157, 164, 189, 0.6);
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--light-grey);
}
.content .subtitle::before {
  margin-right: 20px;
}

.about-images,
.about .content {
  width: calc((100% - 30px) / 2);
}
.about-images-item:first-child {
  margin-right: 30px;
}

.about .content {
  padding-left: 30px;
  padding-right: 60px;
}

.about .subtitle {
  margin-bottom: 20px;
}

.about .title-section {
  margin-bottom: 20px;
}

.about .text {
  margin-bottom: 20px;
}

.about .description {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--main-color);
}

.about .button {
  color: var(--dark-color);
}
